body {
  font-family: monospace;
  font-size: 16px;
  background: #bdd;/*#142;*/
  color: #131;
}


.ans-line {
  z-index: -2;
  position: absolute;
  text-decoration: underline;
}

.ans-mask {
  z-index: -1;
  position: absolute;
  background: #bdd;
}

.ans {
  display: inline-block;
  outline: transparent;
  min-width: 3em;
  text-decoration: underline;
}

.tree-header {
}

.tree-content {
  margin-left: 1.2em;
}

.desc {
  width: 50%;
}
