body {
  font-family: monospace;
  font-size: 16px;
  background: #bdd;/*#142;*/
  color: #131;
}

.ans {
  display: inline-block;
  padding-bottom: -0.1em;
  border-bottom: 1.3px solid #131;
  clear: both;
  min-width: 2.4em;
  outline: transparent;
}

.tree-header {
}

.tree-content {
  margin-left: 1.2em;
}
